! tucnak color scheme
! Special !15 !233 !15
*.foreground:   #ffffff 
*.background:   #121212 
*.cursorColor:  #ffffff 
! black !16
*.color0:       #000000 
*.color8:       #000000 
! red !197
*.color1:       #ff005f 
*.color9:       #ff005f 
! green !81
*.color2:       #5fd7ff 
*.color10:      #5fd7ff 
! yellow !226
*.color3:       #ffff00 
*.color11:      #ffff00 
! blue !17
*.color4:       #00005f 
*.color12:      #00005f 
! magenta !197
*.color5:       #ff005f 
*.color13:      #ff005f 
! cyan !81
*.color6:       #5fd7ff 
*.color14:      #5fd7ff 
! white !15
*.color7:       #ffffff 
*.color15:      #ffffff 
