!Fonts
Rxvt.font: xft:Noto Sans Mono:size=12

!Misc
URxvt.scrollBar: false

!Dracula Xresources palette
URxvt.foreground: #F8F8F2
URxvt.background: #282A36
URxvt.color0:     #000000
URxvt.color1:     #FF5555
URxvt.color2:     #50FA7B
URxvt.color3:     #F1FA8C
URxvt.color4:     #BD93F9
URxvt.color5:     #FF79C6
URxvt.color6:     #8BE9FD
URxvt.color7:     #BFBFBF
URxvt.color8:     #4D4D4D
URxvt.color9:     #FF6E67
URxvt.color10:    #5AF78E
URxvt.color11:    #F4F99D
URxvt.color12:    #CAA9FA
URxvt.color13:    #FF92D0
URxvt.color14:    #9AEDFE
URxvt.color15:    #E6E6E6

!Extensions
URxvt.perl-ext-common: resize-font

!resize-font
URxvt.keysym.C-Down:    resize-font:smaller
URxvt.keysym.C-Up:       resize-font:bigger
URxvt.resize-font.step: 1
